/* Utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

.top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

/* top players style */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;

}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* blogs start */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;

}

/* top blogs style */
.blog {
    display: flex;
    flex-direction: row;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    color: #562EFF;
}

/* courses style */
.course .course-banner img {
    width: 224px;
    height: 104px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 23px;
}

.course {
    border-radius: 13.36px;
    background-color: #FFFFFF;
    width: 252.42px;
    height: 269.79px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
    opacity: 25%;
}

.course-info span {
    color: #A2A2A2;
    font-size:14px;
}

.course-duration {
    width: 94.83px;
    height: 29.38px;
    background-color: #FFE4E8;
    border-radius: 14.69px;
    text-align: center;
    font-size: 14.69px;
    color: #FF4A60;
    margin: 0 auto;
    padding-top: 10px;
}

.course-duration i {
    padding-left: 6px;
}

/* Media Queries */
/* Mobile Devices */
@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }
    .players {
        grid-template-columns: repeat(1, 1fr);
    }

    .player {
        flex-direction: column;
       
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .blog {
        flex-direction: column;
    }

    .courses {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        justify-items: center;
    }
}

/* Tablet Devices */
@media screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
    .players {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .player {
        flex-direction: column;
       
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .blog {
        flex-direction: column;
    }

    .courses {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 50px;
        justify-items: center;
    }
}